{{!-- @razoyo: removed footer content except for footer-bottom. Footer template comes from main TST site--}}
{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <section class="footer-bottom">
        <div class="container">
            <div class="copyright-logos">
                {{#if theme_settings.show_copyright_footer}}
                    <div class="footer-copyright">
                        <p class="powered-by">&copy; 1998-{{moment format="YYYY"}}, Tastefully Simple, Inc. </p>
                        <p class="powered-by">Serving suggestions throughout the website.</p><BR>
                        <p>
                            <a href="/terms-of-use" target="_blank">terms of use</a> <span>and</span> <a href="/dsa-code-of-ethics" target="_blank">code of ethics</a>
                        </p>
                    </div>
                {{/if}}
                <div class="footer-logos">
                    <a href="https://www.dsa.org/" title="DSA" target="_blank">
                        <img src="{{cdn 'assets/img/dsa.png'}}" alt="DSA Logo"/>
                    </a>
                    <a href="https://www.bbb.org/us/mn/alexandria/profile/home-accessories-online/tastefully-simple-inc-0704-96001360/#sealclick" title="BBB Accredited Business" target="_blank">
                        <img src="{{cdn 'assets/img/bbb.png'}}" alt="BBB Accredited Business"/>
                    </a>
                </div>
            </div>
            <div class="footer-use-links">

            </div>
        </div>
    </section>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-44513817-57c9-4834-917d-7b9e9ba8a63f"></div>
</footer>
