<header class="header" role="banner">
    <div class="header-main" id="headerMain">
        <div class="container">
            {{#if page_type '===' 'default'}}
                <h1 class="header-logo header-logo--{{theme_settings.logo-position}} header-logo--collapsed">
                    {{> components/common/store-logo}}
                </h1>
            {{else}}
                <div class="header-logo header-logo--{{theme_settings.logo-position}} header-logo--collapsed">
                    {{> components/common/store-logo}}
                </div>
            {{/if}}
            </div>
        </div>
    </div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}

