<div class="modal-overlay" id="terms-modal">
    <div class="modal-overlay-content-wrapper">
        <svg class="modal-overlay-content-wrapper--close-header-icon terms-close"><use xlink:href="#icon-close" /></svg>
        <h1 class="heading--1">Independent Consultant Agreement</h1>
        <div id="terms-conditions"></div>
        <div id="terms-conditions-backup" class="hidden">
            {{> components/common/join-agreement-message-backup }}
            <div class="modal-overlay--close-footer terms-close">
                <svg class="modal-overlay--close-footer-icon"><use xlink:href="#icon-close" /></svg><p>close</p>
            </div>
        </div>
    </div>
</div>
