{{!-- TST-342 --}}
<script type="text/javascript">
    class TSCheckout {
        constructor(app) {
            this.observeApp(app);
        }

        observeApp(app) {
            this.observer = new MutationObserver(this.mutationCallback);

            if (app) {
                this.observer.observe(app, {
                    attributes: true,
                    subtree: true
                });
            } else {
                this.observer.disconnect();
            }
        }

        mutationCallback(mutations) {
            mutations.forEach(mutation => {
                const $email = document.querySelector('#email');

                if ($email) {
                    const nativeInputValueSetter = Object.getOwnPropertyDescriptor(window.HTMLInputElement.prototype, "value").set;
                    // @TODO: Get the email value from cookie
                    nativeInputValueSetter.call($email, 'tst@example.com');
                    const inputEvent = new Event('input', { bubbles: true });
                    $email.dispatchEvent(inputEvent);
                }
            });
        }
    }

    const $checkoutApp = document.getElementById('checkout-app');
    const customCheckout = new TSCheckout($checkoutApp);
</script>
