<script type="text/javascript">
    (function(w) {
        w.TSCookie = {
            // Order Id
            getOrderId: function() {
                return Cookies.get('joinOrderId');
            },

            // Cart Id
            setCartId: function(value) {
                Cookies.set('joinCartId', value);
            },
            getCartId: function() {
                return Cookies.get('joinCartId');
            },

            // Join email
            setJoinEmail: function(value) {
                Cookies.set('joinEmail', value);
            },
            getJoinEmail: function() {
                return Cookies.get('joinEmail');
            },

            // TS Cash Option value
            setTsCashOption: function(value) {
                Cookies.set('joinTsCashOption', value);
            },
            getTsCashOption: function() {
                return Cookies.get('joinTsCashOption');
            },

            // Remove join cookies
            removeJoinCookies: function() {
                Cookies.remove('joinCartId');
                Cookies.remove('joinEmail');
            },

            // Debugging
            setTest: function(value) {
                Cookies.set('_test', value);
            },
            getTest: function() {
                return Cookies.get('_test');
            }
        };
    })(window);
</script>
