{{!-- TST-342 --}}
<script type="text/javascript">
    // TSCookie is not accessible in the checkout page
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    class TSCheckout {
        constructor(app) {
            this.observeApp(app);
        }

        observeApp(app) {
            this.observer = new MutationObserver(this.mutationCallback);

            if (app) {
                this.observer.observe(app, {
                    attributes: true,
                    subtree: true
                });
            } else {
                this.observer.disconnect();
            }
        }

        mutationCallback(mutations) {
            mutations.forEach(mutation => {
                // Inject customer's email address (from cookie) to Checkout page's email input
                const $email = document.querySelector('#email');

                if ($email) {
                    const nativeInputValueSetter = Object.getOwnPropertyDescriptor(window.HTMLInputElement.prototype, "value").set;
                    const email = getCookie('joinEmail');
                    nativeInputValueSetter.call($email, email);
                    const inputEvent = new Event('input', { bubbles: true });
                    $email.dispatchEvent(inputEvent);
                }

                /*
                 * Remove the newsletter checkbox and
                 * "Already have an account? Sign in now"
                 */
                const $newsletterInput = document.querySelector('#shouldSubscribe');
                const $newsletterLabel = document.querySelector('label[for="shouldSubscribe"]');
                const $signInNow = document.querySelector('#checkout-customer-login');

                if ($newsletterInput) {
                    $newsletterInput.remove();
                }

                if ($newsletterLabel) {
                    $newsletterLabel.remove();
                }

                if ($signInNow) {
                    $signInNow.parentElement.remove();
                }
            });
        }
    }

    const $checkoutApp = document.getElementById('checkout-app');
    const customCheckout = new TSCheckout($checkoutApp);
</script>
