node_modules/
.stencil
config.stencil.json
secrets.stencil.json
.DS_Store
assets/css-artifacts
assets/js/bundle.js
assets/dist
vendor/bundle
.bundle
*.js.map
*.zip
.idea/
/.vs/cornerstone-join/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json

*.swo
*.swp
