{{#partial "head"}}
{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

{{/partial}}

{{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <h2 class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="{{urls.home}}">
                {{#if checkout.header_image}}
                    <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{ checkout.header_image }}"/>
                {{ else }}
                    <span class="header-logo-text">{{settings.store_logo.title}}</span>
                {{/if}}
            </a>
        </h2>
    </div>
</header>
<style>
    .orderConfirmation .form-fieldset {
        display: none;
    }

    .continueButtonContainer {
        text-align: center;
    }
</style>
{{{ checkout.order_confirmation_content }}}
{{{ footer.scripts }}}
<script>
    (function(win) {
        'use strict';

        var listeners = [],
            doc = win.document,
            MutationObserver = win.MutationObserver || win.WebKitMutationObserver,
            observer;

        function ready(selector, fn) {
            listeners.push({
                selector: selector,
                fn: fn
            });
            if (!observer) {
                observer = new MutationObserver(check);
                observer.observe(doc.documentElement, {
                    childList: true,
                    subtree: true
                });
            }
            check();
        }

        function check() {
            for (var i = 0, len = listeners.length, listener, elements; i < len; i++) {
                listener = listeners[i];
                elements = doc.querySelectorAll(listener.selector);
                for (var j = 0, jLen = elements.length, element; j < jLen; j++) {
                    element = elements[j];
                    if (!element.ready) {
                        element.ready = true;
                        listener.fn.call(element, element);
                    }
                }
            }
        }
        win.ready = ready;
    })(this);

    ready('.continueButtonContainer', function(element) {
        $('.continueButtonContainer').html("<a class=\"button button--action optimizedCheckout-buttonPrimary\" href=\"/welcome\" title=\"{{lang 'order_confirmation.continue_button'}}\">{{lang 'order_confirmation.continue_button'}}</a>");
    });
</script>

{{/partial}}

{{> layout/empty}}
