$COLOR_PRIMARY_100: #00757d;
$COLOR_PRIMARY_200: #3473da;

$COLOR_SECONDARY_100: #6e7a06;
$COLOR_SECONDARY_200: #610b31;
$COLOR_SECONDARY_200_HOVER: #7f4252;

$COLOR_BLACK: #2d2d2d;
$COLOR_WHITE: #fefefe;

$COLOR_GRAY_25:  #f1f0ee;
$COLOR_GRAY_50:  #bbbbbb;
$COLOR_GRAY_100: #dddddd;
$COLOR_GRAY_150: #e2e2e2;
$COLOR_GRAY_200: #979797;
$COLOR_GRAY_300: #2d2d2d;
