// Base Spacing
$SPACING_INCREMENT: 8px;

$SPACING_1: $SPACING_INCREMENT;
$SPACING_2: $SPACING_INCREMENT * 2;
$SPACING_3: $SPACING_INCREMENT * 3;
$SPACING_4: $SPACING_INCREMENT * 4;
$SPACING_5: $SPACING_INCREMENT * 5;
$SPACING_6: $SPACING_INCREMENT * 6;
$SPACING_7: $SPACING_INCREMENT * 7;
$SPACING_8: $SPACING_INCREMENT * 8;
$SPACING_9: $SPACING_INCREMENT * 9;
$SPACING_10: $SPACING_INCREMENT * 10;
$SPACING_11: $SPACING_INCREMENT * 11;
$SPACING_12: $SPACING_INCREMENT * 12;

$SPACING_HALF: $SPACING_INCREMENT / 2;
$SPACING_THIRD: $SPACING_INCREMENT / 3;
$SPACING_QUARTER: $SPACING_INCREMENT / 4;