/* The switch - the box around the slider */
.switch {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 10px;
  margin-left: $SPACING_2;
  margin-right: $SPACING_2;

  input {
    width: 0;
    height: 0;
    opacity: 0;
     + .switch__slider {
      background-color: $COLOR_SECONDARY_100;
    }

    &:focus + .switch__slider {
      box-shadow: 0 0 1px $COLOR_SECONDARY_100;
    }

    &:checked + .switch__slider:before {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
    }
  }

  /* The slider */
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
    &--round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }

  &__slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 1px;
    bottom: 1px;
    background-color: $COLOR_WHITE;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 1px 0.25px 0 rgba(0,0,0,0.5);
  }
}
