// If Javascript breakpoints exist, ensure those are updated if these values change.
$BREAKPOINT_BASE: 1px;
$BREAKPOINT_SMALL: 480px;
$BREAKPOINT_MEDIUM: 768px;
$BREAKPOINT_LARGE: 1024px;
$BREAKPOINT_XLARGE: 1200px;
$BREAKPOINT_MAX: 1920px;